
.editable {
  /* background-color: #fffde7; */
  border: 2px solid #4CAF50;
  cursor: text;
  opacity: 1;
  transition: background-color 0.3s ease, border 0.3s ease, opacity 0.3s ease;
}

.read-only {
  background-color: #f0f0f0;
  border: 2px solid #BDBDBD;
  cursor: default;
  opacity: 0.6;
  transition: background-color 0.3s ease, border 0.3s ease, opacity 0.3s ease;
}